<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <style rel="stylesheet" href="estilos.css"></style>
</head>
<body>
  <div class="container py-3">
    <h1 id="titulo"></h1>
    <form th:action="@{/save}" th:object="${persona}" method="POST">
      <div></div>
      <div>
        <div class='form-control mb-3'>
          <label>#</label> <input type="text" th:field="*{id}" readonly="readonly" />
        </div>
        <div class='form-control mb-3'>
          <label>NOMBRE</label> <input type="text" th:field="*{name}" />
        </div>
        <div class='form-control mb-3'>
          <label>APELLIDO</label> <input type="text" th:field="*{apellido}" />
        </div>
        <div class='form-control mb-3'>
          <label>EMAIL</label> <input type="text" th:field="*{email}" />
        </div>
        <div class='form-control mb-3'>
          <label>TELEFONO</label> <input type="text" th:field="*{telefono}" />
        </div>
        <div class='form-control mb-3'>
          <label>DIRECCION</label> <input type="text" th:field="*{direccion}" />
      </div >

        <input class="btn btn-primary" type="submit" value="Guardar" />
        <a class="btn btn-success" th:href="@{/listar}">Regresar</a>

    </form>
  </div>


    <script>
        var url = window.location.href;
        if(url.indexOf("new") > 0){ // Si la url contiene new en la url es porque es un nuevo registro
        document.getElementById("titulo").innerHTML = "NUEVO REGISTRO";
        }else{
        document.getElementById("titulo").innerHTML = "EDITAR REGISTRO";
        }
    </script>


</body>
</html>