<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

    <div class="container my-5">
    <h1  class="display-4">Lista de Personas</h1>
    <a class="btn btn-primary my-5" th:href="@{/new}">Agregar Nuevo</a>
    <table class="table table-striped table-hover">
        <thead >
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p:${personas}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.apellido}"></td>
            <td th:text="${p.email}"></td>
            <td th:text="${p.telefono}"></td>
            <td th:text="${p.direccion}"></td>
            <td>
                <a class="btn btn-info" th:href="@{/edit/{id}(id=${p.id})}">Editar</a>
                <a class="btn btn-danger" th:attr="onclick='eliminar(' + ${p.id} + ')'">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>

    <script>
        function eliminar(id){
            if(confirm("¿Desea eliminar el registro?")){ // Si el usuario acepta eliminar
                window.location.href = "/delete/"+id;
            }
        }
    </script>
</body>
</html>